<!DOCTYPE html>
<html lang="ja">
	<head>
		{{template "head" .}}{{include "_parts/head.html"}}
	</head>
	<body>
		<div class="kk-sidenav-container">
			<div class="kk-sidenav-menu">
				<ul>
					<li><a href="/">Getting Started</a></li>
					<li class="kk-divider"></li>
					<li><div class="kk-accordion">Sample</div>
						<ul>
							<li><a href="/page/page1.html">Page1</a></li>
							<li>Page2</li>
							</li>
						</ul>
					</li>
					<li><a href="">in preparation</a></li>
				</ul>
			</div>
			<div class="kk-sidenav-main kk-padding-s">
				{{template "content" .}}
			</div>
		</div>
	</body>
</html>